
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", segoe UI, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 height: 100vh;
}

#sidebar {
  width: 100%;
  position: relative;
}

.admin__content {
  position: relative;
}

.admin__details {
  font-size: 3rem;
  font-weight: normal;
  opacity: 0.7;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
}

.admin__content img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.kbd {
  font-size: 2rem;
}

.role h5 {
  font-size: 1.7rem;
}

.border__bottom {
  border: 3px solid white;
  width: 50px;
}

.row {
  box-shadow: 2px 4px 5px 0.1px gainsboro;
  display: flex;
}

.profile {
  display: inline-block;
  text-align: center;
  background-color: #23282d;
  padding: 50px 5px;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}

.contact {
  font-weight: bold;
  font-size: 2.2rem;
}

.contact__details {
  font-weight: bold;
  font-size: 1.8rem;
  opacity: 0.7;
}

.horizontal__line {
  border: 1px solid gainsboro;
}

.admin__button {
  display: flex;
  align-items: center;
}

.badge {
  font-size: 2rem;
  padding: 10px;
}
.admin__button .btn {
  font-size: 2rem;
}

.menu {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 20px;
  text-align: left;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
 
}

.menu a:hover {
  color: #00aeff;
}

.item {
  width: 180px;
  margin: auto;
  border-top: 1px solid rgba(225, 225, 225, 0.05);
  overflow: hidden;
  background: rgba(35, 40, 45, 0);
}

.btns {
  display: block;
  padding: 16px 20px;
  color: white;
  position: relative;
}

.btns::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #23282d;
  left: 25px;
  bottom: -7px;
  transform: rotate(45deg);
}

.item span::after {
  position: absolute;
  content: "\f078";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  color: #00aeff;
  left: 80%;
}

.item.active span::after {
  content: "\f077";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
}

.btns i,
.submenu i {
  margin-right: 7px;
}

.submenu {
  background: #313348;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.submenu a {
  display: block;
  padding: 16px 26px;
  color: white;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}

.item a:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #00aeff;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.item a:hover::after {
  opacity: 1;
}

.item.active .submenu {
  max-height: 17em !important;
}
